html{
  scroll-behavior: smooth;
}
body{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #020E1C;
}
a{
  text-decoration: none;
  color: #031933;
}
a:hover{
  color: #020E1C;
}
ul{
  list-style-type: none;
}
.page-header{
  text-align:center;
  font-weight: 800;
  font-size: 3.5rem;
}
.about, .portfolio, .contact{
  padding-top: 75px;
}
.btn-link{
  color: #020E1C;
  text-decoration: none;
}
.btn-link:hover{
  color: rgba(179, 216, 235,0.9);
  text-decoration: none;
}

/* Home */
.home{
  width: 100%;
  height: 800px;
  background-image:  linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255,0.7)), url('https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-middle{
  padding: 200px 100px 0px 100px;
}
.name-p, .intro-p{
  font-size: 3rem;
  width: 80%;
  border-radius: 5%;
}
.welcome-p{
  padding: 30px 0px;
}
.intro-p{
  font-size: 1.75rem;
}
.name{
  font-weight: bold;
}
.view-more{
  padding: 10px 15px;
  border: 1px grey solid;
  font-size: 1.5rem;
  background-color: #020E1C;
  color: white;
  font-weight: bold;
}
.view-more:hover{
  background-color: white
}
.view-more:active{
  background-color: gray;
}

/* Nav */
.nav{
  background-color: rgba(179, 216, 235,0.9);
  position: sticky;
  top: 0;
  padding: 15px 15px 0px 15px;
  z-index: 9999;
}
.nav-name{
  padding: 5px 5px;
  display: inline;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5%;
}
.nav-btn{
  display: inline;
  padding: 5px 15px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #020E1C;
}
.nav-btn a{
  text-decoration: none;
}
.nav-btn:hover{
  background-color: white;
}

/* About */
.about p{
  line-height: 2.5;
}
.about img, .about p{
  margin-top: 60px;
}
.about img{
  margin-left: 20px;
  width: 350px;
  height: 500px;
}
.column-left{
  width:35%;
  float: left;
  margin-top: 10px;
}
.column-right{
  width:65%;
  float: right;
  margin-bottom: 100px;
}

/* Portfolio */
.portfolio{
  clear: both;
  background-color: rgb(245, 255, 255);
  width: 100%;
}
.image-container {
  position: relative;
  top:1em;
  left: 2em;
}
.project-img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 500px;
  height: 350px;
  margin: 10px 10px;
  box-shadow: 1px 1px #B5B9C4;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image-container:hover .project-img {
  opacity: 0.3;
}
.image-container:hover .middle {
  opacity: 1;
}
.text {
  background-color: white;
  color: #020E1C;
  font-size: 16px;
  padding: 16px 32px;
}
.image-row{
  padding-bottom: 10px;
}
.tech-list{
  margin-top: 50px;
}
.tech-list li{
  display: inline;
  padding: 5px 15px;
}
.project-link{
  margin-right: 30px;
}

/* Contact */
.contact{
  height: 93vh;
  background-color: #031933;
  color: white;
  width: 100%;
  text-align: left;
}
.contact-content{
  margin-top: 20vh;
}
.name-address{
  float:left;
}
.contact-name{
  font-size: 1.5rem;
  font-weight: 800;
}
.contact-p{
  font-size: 1.2rem;
}
.contact-form{
  float:right;
  width: 50%;
  padding-left: 5%;
}

.form-label{
  font-weight: bold;
}
.icon{
  width: 50px;
  height: 50px;
  background-color:white;
  border-radius: 10%;
  margin-right: 20px;
}

/* Footer */
footer{
  clear: both;
  background-color: #020E1C;
  color: rgb(204, 236, 255);
  font-size: .85rem;
}
.update{
  float: right;
}

@media screen and (max-width: 1024px) {
  .about img {
    margin-left: 0;
  }
  .column-right{
    width: 60%;
  }
  .about img, .about p{
    margin-top: 40px;
  }
  .project-img {
    width: 400px;
    height: 300px;
  }
  .contact{
    height: 100vh;
  }
  .contact-name{
    font-size: 1.4rem;
    font-weight: 800;
  }
  .contact-p{
    font-size: 1rem;
  }
  .contact-form{
    width: 50%;
  }
}

@media screen and (max-width: 860px) {
  body{
    font-size: 0.85rem;
  }
  .page-header{
    font-size: 3rem;
  }
  .about, .portfolio, .contact{
    padding-top: 95px;
  }
  .nav{
    text-align: center;
  }
  .nav-name{
    font-size: 1.3rem;
  }
  .nav-btn{
    font-size: 1.1rem;
  }
  .about img{
    width: 260px;
    height: 330px; 
  }
  .home-middle{
    padding: 200px 50px 0px 100px;
  }
  .name-p, .intro-p{
    width: 95%;
  }
  .welcome-p{
    padding: 15px 0px;
  }
  .name-p{
    font-size: 2.8rem
  }
  .intro-p{
    font-size: 1.5rem;
  }
  .view-more{
    padding: 7px 10px;
    font-size: 1.3rem;
  }
  .image-container {
    left: 7em;
  }
  .project-img {
    width: 500px;
    height: 350px;
  }
  .contact{
    height: 102vh;
  }
  .contact .column-left{
    float: none;
    display: block;
  }
  .icon{
    width: 40px;
    height: 40px;
  }
  .contact .column-right{
    float: none;
    display: block;
    padding-top: 200px;
    width: 80%;
  }
  .contact-content{
    margin-top: 5vh;
  }
}

@media screen and (max-width: 425px){
  .image-container {
    left: 2em;;
  }
  .project-img {
    width: 320px;
    height: 220px;
  }
  .nav-list{
    margin: 0 auto;
  }
  .nav-btn{
    padding: 4px 4px;
    font-size: 1.1rem;
  }
  .column-left{
    float: none;
    width: 100%;
  }
  .column-right{
    float: none;
    width: 100%;
  }
  .about img{
    margin: 0 62px;
  }
  .contact{
    height: 103vh;
  }
  .home-middle{
    padding: 100px 30px 0px 70px;
  }
  .name-p, .intro-p{
    width: 95%;
  }
  .welcome-p{
    padding: 15px 0px;
  }
  .name-p{
    font-size: 2.8rem
  }
  .intro-p{
    font-size: 1.5rem;
  }
  .view-more{
    padding: 7px 10px;
    font-size: 1.3rem;
  }
}